{% extends 'base.html' %}

{% block extracss %}
	<link rel="stylesheet" href="/static/css/jquery.autocomplete.css" />
{% endblock %}

{% block extrajs %}
	<script type="text/javascript" src="/static/js/forms.js"></script>
	<script type="text/javascript" src="/static/js/add.js"></script>
	<script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script>
{% endblock %}

{% block content %}
{% if not posted %}
	<form action="." method="POST" id="addform">
		<div id="form_wod">
			<p>WOD Name</p>
			{{ form.name}}
			{{ form.name.errors }}
			<p>Workout</p>
			{{ form.workout }}
			{{ form.workout.errors }}
		</div>
		<div id="form_wod_tags">
			<p>Workout Tags</p>
			{{ form.wod_tags }}
			{{ form.wod_tags.errors }}
		</div>
		<div>
			{{ form.has_result }}
			{{ form.has_result.data }}
			<p><span id="result_text">
			{% ifequal form.has_result.data True %}
				Add Workout Only?
			{% else %}
				Want to add a result also?
			{% endifequal %}
			 </span><a href="#" id="toggle_result">Click here.</a></p>
		</div>

		<div id="form_result"{% ifequal form.has_result.data "False" %} style="display: none;"{% endifequal %}>			
			<p>Date Completed</p>
			{{ form.date }}
			{{ form.date.errors }}
			<p>Results</p>
			{{ form.results }}
			{{ form.results.errors }}
		</div>
		<div id="form_tags"{% ifequal form.has_result.data "False" %} style="display: none;"{% endifequal %}>
			<p>Result Tags</p>
			<p id="tags_from_wod"></p>
			{{ form.tags }}
			{{ form.tags.errors }}
		</div>
		<input type="submit" name="sumit" value="submit">
	
	
	</form>
	

{% else %}
Workout added
{% endif %}
{% endblock %}