{% extends 'base.html' %}

{% block extracss %}
	<link rel="stylesheet" href="/static/css/jquery.autocomplete.css" />
{% endblock %}

{% block extrajs %}
	<script type="text/javascript" src="/static/js/forms.js"></script>
	<script type="text/javascript" src="/static/js/add.js"></script>
	<script type="text/javascript" src="/static/js/jquery.autocomplete.min.js"></script>
{% endblock %}

{% block content %}
{% if not posted %}
	<form action="." method="POST" id="addform">
		<div id="form_wod">
			<p>WOD Name</p>
			{{ form.name}}
			{{ form.name.errors }}
			<p>Workout</p>
			{{ form.workout }}
			{{ form.workout.errors }}
		</div>
		<div>
			{{ form.has_result }}
			!{{ form.has_result.value }}!
			<p><span id="result_text">Add Workout Only?</span> <a href="#" id="toggle_result">Click here.</a></p>
		</div>
		<div id="form_result">			
			<p>Date Completed</p>
			{{ form.date }}
			{{ form.date.errors }}
			<p>Results</p>
			{{ form.results }}
			{{ form.results.errors }}
		</div>
		<div id="form_tags">
			<p>Tags</p>
			{{ form.tags }}
			{{ form.tags.errors }}
		</div>
		<input type="submit" name="sumit" value="submit">
	
	
	</form>
{% else %}
Workout added
{% endif %}
{% endblock %}