{% extends 'base.html' %}

{% block title%}Add Result{% endblock %}

{% block extracss %}
	<link rel="stylesheet" href="/static/css/jquery.autocomplete.css" />
{% endblock %}

{% block extrajs %}, "forms", "add", "jquery.autocomplete"{% endblock %}

{% block content %}
{% load extra_args %}


{% ifequal submitted True %}
	{% include 'resultform.html' %}
{% else %}
	Result added. Click <a href="{{ wod.get_absolute_url }}">here</a> to return to the workout if your browser does not redirect you.
<script type="text/javascript">
	setTimeout(function() {
		window.location.replace("{{ wod.get_absolute_url }}");
	}, 2000);
</script>
{% endifequal %}

{% endblock %}