<!doctype html> 

{% load macros %}
{% macro title %}
    {% block title %}{% endblock %}
{% endmacro %}


<head>
	<title>{% usemacro title %} - simpleWOD</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/dark-hive/jquery-ui.css"></link>
    {% block extracss %}{% endblock %}
	
    <script type="text/javascript" src="/static/js/require-jquery.js"></script>
    <script>
	    require({baseUrl: "/static/js/" }, ["jquery", "jquery-ui", "cufon-yui", "Amsterdam_Graffiti_400.font", "Octin_Spraypaint_Free_400.font", "base"{% block extrajs %}{% endblock %}], function($) {
	        //the jquery.alpha.js and jquery.beta.js plugins have been loaded.
	        $(function() {
	        	Cufon.replace('#logowod', { fontFamily: 'Octin Spraypaint Free' });
	        });
	    });
    </script>
    


	
</head>
<body>



<body>
	<div id="main">
	<div id="logo">
		<a href="/" style="text-decoration: none;"><span id="logosimple"><strong>simple</strong></span><span id="logowod">WOD</span><span id="logobeta">&nbsp;&nbsp;&nbsp;(beta)</span></a>
		
	</div>
		<div id="nav">
			<div class="fg-buttonset fg-buttonset-single">
				<button class="fg-button ui-state-default ui-priority-primary ui-corner-left" onclick="window.location='/'">Home</button>
				{% if user.is_authenticated %}	
					<button class="fg-button ui-state-default ui-priority-primary" onclick="window.location='/{{ user.username }}/'">{{ user.username }}</button>
					<button class="fg-button ui-state-default ui-priority-primary" onclick="window.location='/wods/add'">Add Workout</button>
				{% endif %}
					<button class="fg-button ui-state-default ui-priority-primary" onclick="window.location='/feeds/'">RSS</button>
					<button class="fg-button ui-state-default ui-priority-primary" onclick="window.location='/contact/'">Contact</button>
				{% if user.is_authenticated %}	
					<button class="fg-button ui-state-default ui-priority-primary" onclick="window.location='/settings/'">Settings</button>
					<button class="fg-button ui-state-default ui-priority-primary ui-corner-right" onclick="window.location='/accounts/logout'">Logout</button>
				{% else %}	
					<button class="fg-button ui-state-default ui-priority-primary" onclick="window.location='/accounts/register/'">Register</button>
					<button class="fg-button ui-state-default ui-priority-primary ui-corner-right" onclick="window.location='/accounts/login'">Login</button>
				{% endif %}
			</div>
			
		</div>
	    <div id="content">
	    	{% ifnotequal title "Home" %}<div id="header"><h2>{% usemacro title %}</h2></div>{% endifnotequal %}
	        {% block content %}{% endblock %}
	        
	    </div>
	    <div id="footer">
	    	
	    </div>
	</div>
</body>
</html>
