<html>
<head>
	<title>{% block title %}simpleWOD{% endblock %}</title>
    <!--  <link rel="stylesheet" href="style.css" /> -->
    <!--  <link rel="stylesheet" href="/static/css/redmond/jquery-ui.css"></link> -->
    {% block extracss %}{% endblock %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
    {% block extrajs %}{% endblock %}
</head>

<body>

<div class="ui-widget-header">
	&nbsp;<a href="/">Home</a> | 
{% if request.user.is_authenticated %}		
		<a href="/{{ request.user.username }}/">{{ request.user.username }}</a> |
		<a href="/wods/add">Add Workout</a> | 
		<a href="accounts/logout">Logout</a>
{% else %}
	<a href="accounts/login">Login</a>
{% endif %}
</div>
    <div id="content" class="ui-widget-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
