<html>
<head>
	<title>{% block title %}simpleWOD{% endblock %}</title>
    <!--  <link rel="stylesheet" href="style.css" /> -->
    <link rel="stylesheet" href="/static/css/redmond/jquery-ui.css" />
    {% block extracss %}{% endblock %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
    {% block extrajs %}{% endblock %}
</head>

<body>
{% if request.user.is_authenticated %}
	<div class="ui-widget-header">
		&nbsp;<a href="/">Home</a> | 
		<a href="/add">Add Workout</a> | 
		<a href="accounts/logout">Logout</a>
	</div>
{% else %}
	<div class="ui-widget-header">&nbsp;<a href="accounts/login">Login</a></div>
{% endif %}
    <div id="content" class="ui-widget-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
