{% extends 'base.html' %}

{% block content %}

{% load tagging_tags %}
<table>
	<tr>
		<td width="50%">
			Recent workouts<br/>
			<ul>
				{% for r in results %}
					<li><a href="{{ r.get_absolute_url }}">{{ r }}</a></li>
				{% endfor %}
			</ul>
		</td>
		<td>Tags<br/>
			{% tag_cloud_for_model workouts.Result as tags %}
			{% for tag in tags %}
				<a href="/results/tag/{{tag}}/">{{ tag }}</a> ({{tag.font_size}})
			{% endfor %}
		</td>
	</tr>
</table>
{% endblock %}