

{% if not posted %}
	<form action="{{ action }}" method="post" id="ajaxaddform">{% csrf_token %}
		<div style="display: none;"><input type="hidden" value="{{ wod_id }}" name="wod_id" id="wod_id"></div>

			{{ form.has_result }}
			{{ form.has_result.data }}

		<div id="form_result"{% ifequal form.has_result.data "False" %} style="display: none;"{% endifequal %}>			
			<p>Date Completed</p>
			{{ form.date }}
			{{ form.date.errors }}
			<p>Results</p>
			{{ form.results }}
			{{ form.results.errors }}
			<p>Max Weight for this result (if applicable, will be used for charts, coming soon)</p>
			{{ form.weight }}
			{{ form.weight.errors }}
			<p>Fastest Time for this result (if applicable, will be used for charts, coming soon)</p>
			{{ form.time }}
			{{ form.time.errors }}
			<p>Notes</p>
			{{ form.notes }}
			{{ form.notes.errors }}
		</div>
		<div id="form_tags"{% ifequal form.has_result.data "False" %} style="display: none;"{% endifequal %}>
			<p>Result Tags</p>
			<p id="tags_from_wod">Tags included from Workout: {% for tag in tags %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
			<p id="tags_from_wod"></p>
			{{ form.tags }}
			{{ form.tags.errors }}
		</div>
		<input type="submit" name="sumit" value="Submit" id="submit"><input type="button" name="cancel" value="Hide" id="cancel">
	
	
	</form>
	

{% else %}
<p>Workout added</p>
{% endif %}