{% extends 'base.html' %}

{% block extracss %}
	<link rel="stylesheet" href="/static/css/jquery.autocomplete.css" />
{% endblock %}

{% block title %}Settings{% endblock %}

{% block content %}
{% if posted %}
<p>Settings Updated</p>
{% endif %}
<form action="." method="post">{% csrf_token %}
	<div id="form_wod">
		<p>Email</p>
		{{ form.email }}
		{{ form.email.errors }}
		<p>Make WOD Results Private?</p>
		{{ form.private_wods }}
		{{ form.private_wods.errors }} Yes
	</div>
	<br>
	<input type="submit" name="sumit" value="submit">


</form>
<p>To reset your password, <a href="{% url auth_password_change %}">Click here</a></p>
{% if user.get_profile.private_wods %}Private {% endif %}RSS url: <a href="{{ user.get_profile.get_rss_url }}">{{ user.get_profile.get_rss_url }}</a>
{% endblock %}