{% extends 'base.html' %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/jquery.autocomplete.css" />
{% endblock %}

{% block extrajs %}, "forms", "add", "jquery.autocomplete"{% endblock %}

{% if header %}
	{% block title%}{{ header }}{% endblock %}
{% endif %}

{% block content %}


{% include '_wod.html' %}
{% if show %}
<h3>Results</h3>
	{% for wod in results %}
		{% include '_result.html' %}		
	{% endfor %}
{% else %}
	<p>This user's results are private.</p>
{% endif %}
{% endblock %}