{% extends 'base.html' %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/jquery.autocomplete.css" />
<link rel="stylesheet" href="/static/css/validationEngine.jquery.css" />

{% endblock %}

{% block extrajs %}
	<script type="text/javascript" src="/static/js/forms.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.timepicker.js"></script>
	<script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="/static/js/jquery.metadata.js"></script>
	<script type="text/javascript" src="/static/js/localCache.js"></script>
	<script type="text/javascript" src="/static/js/jquery.validationEngine-en.js"></script>
	<script type="text/javascript" src="/static/js/jquery.validationEngine.js"></script>
	<script type="text/javascript" src="/static/js/jquery.multiselect.js"></script>
	<script type="text/javascript" src="/static/js/add_result.js"></script>

	<script>
		$(function(){
			new AddMongoResult('.add_result', '#result_form');
		});
	</script>
	
{% endblock %}

{#% block extrajs %#}, "forms", "add", "jquery.autocomplete", "add_result", "jquery.metadata", "jquery.validationEngine-en", "jquery.validationEngine"{#% endblock %#}
{% block extraextrajs %}
	window.log('extraextra');
	new ResultToggle('#toggle_result');
	new TagSync('#id_wod_tags', '#tags_from_wod');
	
	//new ResultFormSubmit('#ajaxaddform', '#ajaxaddform #submit', '#result_form');
	//new Mongo('#canvas');

	/*$("#id_date").live('focus', function(){
		$(this).datepicker();
	});*/
	
	//$("#add_w_form").validationEngine();
	
{% endblock %}

{% block title%}{% if header %}{{ header }}{% else %}WOD: {{ mwod.name }}{% endif %}{% endblock %}

{% block content %}

<article id="{{ wod.mongo_id }}">
	{{ mwod.desc|linebreaks }}
	{% if wod.json %}
		{#{ wod.json }#}
	{% endif %}
	{% if request.user.is_authenticated %}
		<p>Add Result <a href="#" class="add_result" id="{{ wod.id }}">+++</a></p>
		<div id="result_form"></div>
	{% endif %}
</article>

{% for wod in results %}
	{% if forloop.first %}
		
		<h3>Results</h3>
	{% endif %}
	
	{% include '_result.html' %}		
		
{% endfor %}


{% endblock %}
