{% extends 'base.html' %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/jquery.autocomplete.css" />
{% endblock %}

{% block extrajs %}, "forms", "add", "jquery.autocomplete"{% endblock %}


{% block title%}{% if header %}{{ header }}{% else %}WOD: {{ wod }}{% endif %}{% endblock %}

{% block content %}

{% include '_wod.html' %}

{% for wod in results %}
	{% if forloop.first %}
		
		<h3>Results</h3>
	{% endif %}
	
	{% include '_result.html' %}		
		
{% endfor %}

{% endblock %}