{% extends 'base.html' %}

{% block extracss %}
	<link rel="stylesheet" href="/static/css/jquery.autocomplete.css" />
	<link rel="stylesheet" href="/static/css/validationEngine.jquery.css" />
{% endblock %}

{% block extrajs %}, "forms", "jquery.autocomplete", "jquery.metadata", "localCache", "jquery.validationEngine-en", "jquery.validationEngine", "add_submit", "add", "jquery.editable", "jquery.multiselect"{% endblock %}
{% block extraextrajs %}
	console.log('extraextra');
	new ResultToggle('#toggle_result');
	new TagSync('#id_wod_tags', '#tags_from_wod');
	new AddResultForm('.add_result', '#result_form');
	//new ResultFormSubmit('#ajaxaddform', '#ajaxaddform #submit', '#result_form');
	var score = new MultiSelect('#selectable');
	new Mongo('#canvas');
	

	$("#id_date").live('focus', function(){
		$(this).datepicker();
	});
	
	$("#add_w_form").validationEngine();
	
{% endblock %}

{% block title %}Add a Workout{% endblock %}

{% block content %}
<div id="canvas">
Enter a result for a workout below, or <a href="#" id="create_new">Create a new one</a>
</div>
{% endblock %}

